<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
    <title>Add Book Details</title>
{% endblock %}

{% block content %}
<div class="container w-50 mx-auto bg-primary">
  <h2 class="text-center">Add Book Details</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3 mt-3">
      <label class="form-label">Title</label>
      <input type="text" class="form-control" name="t" placeholder="Enter the title">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Author</label>
      <input type="text" class="form-control" name="a" placeholder="Enter the Author">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Language</label>
      <input type="text" class="form-control" name="l" placeholder="Enter the Language">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" name="p" placeholder="Enter the price">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Pages</label>
      <input type="number" class="form-control" name="pg" placeholder="Enter the number of pages">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" name="i">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">PDF</label>
      <input type="file" class="form-control" name="d">
    </div>
 {% if user.is_authenticated %}
    <div class="d-flex" method="POST" action="{% url 'book:search' %}">
                <input class="form-control me-2" type="search" name="d">
    </div>



    <button type="submit" class="btn btn-primary">submit</button>
  </form>
  {% endif %}
</div>
{% endblock %}
