<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    <title>Register</title>
  {% endblock %}

{% block content %}
  <h3 class="text-center">Register page</h3>
<div class="container w-50 mx-auto ">
  <form method="POST">
    {% csrf_token %}

    <div class="mb-3 mt-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="u" placeholder="Enter the username">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="p" placeholder="Enter the Password">
    </div>
        <div class="mb-3 mt-3">
      <label class="form-label"> conform Password</label>
      <input type="password" class="form-control" name="p1" placeholder="Enter the password">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">email</label>
      <input type="email" class="form-control" name="e" placeholder="Enter the email">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label">first name</label>
      <input type="text" class="form-control" name="f" placeholder="Enter the Firstname">
    </div>
 <div class="mb-3 mt-3">
      <label class="form-label">last name</label>
      <input type="text" class="form-control" name="l" placeholder="Enter the Last name">
    </div>



    <button type="submit" class="btn btn-primary">submit</button>
  </form>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} >
    {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock %}